body{
    margin: 0;
    padding: 0;
}
#pacific{
    font-family: 'Fugaz One',sans-serif;
}
#name{
    
    font-family: 'Fugaz One',sans-serif;
    
}
#pacific-2{
    font-family: 'Fugaz One',sans-serif;
}
.gallery{
    font-family: 'Fugaz One',sans-serif;
}